extends layout

block content
  form(action="/create" method="POST")
    .mb-3
      label.form-label Title
      input.form-control(type="text" name="title" required)
    .mb-3
      label.form-label Content
      textarea.form-control(name="content" rows="5" required)
    button.btn.btn-success(type="submit") Create Post
