extends layout

block content
  form(action="/edit/" + post.id method="POST")
    .mb-3
      label.form-label Title
      input.form-control(type="text" name="title" value=post.title required)
    .mb-3
      label.form-label Content
      textarea.form-control(name="content" rows="5" required)= post.content
    button.btn.btn-primary(type="submit") Update Post
